$primary-brighter: #D3CBA8;
$primary: #C99E67;
$primary-dark:  #A07F52;
$primary-darker:  #594628;
$secondary: rgba(48, 4, 0, 0.9);
$secondary-darker:  rgba(29, 4, 0, 0.9);
$dark: #0B0606;

$chart-1: #84C9DA;
$chart-2: #6FC0D4;
$chart-3: #5BB7CE;
$chart-4:  #46AEC8;
$chart-5: #32A5C2;
$chart-6:  #1E9DBC;
$chart-7: #1C8FAB;
$chart-8:  #19819A;
$chart-9: #167389;
$chart-10: #146478;