*{
    font-family: "AlbertusMT";
    color: $primary;
}

body{
    background-color: $dark;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.er-table {
    border: 3px solid $primary;
    background-color: $secondary;

    @media (max-width: $breakpoint-main){
        font-size: 12px;
    }
}

.er-table-head {
    background-color: $dark;

    div {
        font-family: "LotrTitles";
        font-size: 12px;

        @media (max-width: $breakpoint-main){
            font-size: 8px
        }
    }
    
}

.er-table-row {
    border: 1px solid $primary;
}

.er-table-row:hover {
    background-color: $secondary-darker;
}
.er-table-cell {
    border: 1px solid $primary;
    padding: 10px !important;

    @media (max-width: $breakpoint-main){
        padding: 7px !important;
    }
}

input{
    border: 2px solid $primary !important;
    border-radius: 0 !important;
    color: $primary !important;
    box-shadow: 0 0 10px $secondary !important;
    background-color: $dark !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary-dark !important;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary-dark !important;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary-dark !important;
}

.page-link{
    color: $primary !important;
    border-color: $primary !important;
    background-color: $secondary-darker !important;
}

.active{
    .page-link{
        background-color: $secondary !important;
    }
}

.disabled{
    .page-link{
        color: $primary-darker !important;
    }
}